
@import "node_modules/bootstrap/scss/bootstrap";
.card-img-top{

    height: 150px;
    width:240px;
}

#card-article-accueil{

    margin-top: 10px;
    width: 15em;
    height: 25em;
    margin-bottom: 28px;
   
    &:hover{
        transform: scale(1.02,1.02) ;
        transition:0.3s;
        z-index: 1;
        

        
    }
}
