@import "node_modules/bootstrap/scss/bootstrap";

.container_custom{
    background-color: #66d9ff;
     padding-bottom: 100px;
     border-radius: 5%;
     margin-top:50px;
     width: 30%;
     margin-left:40%;
     padding: 40px;
     .link_pass_oublie{
         margin-left: 100px;
     

}
}